.garden-wrapper {
  width: 64%;
  height: 500px;
  position: absolute;
  bottom: 240px;
  display: flex;
  justify-content: space-evenly;
  background-color: red;
  z-index: 500;
  opacity: 0.5; }

.flower-wrapper {
  background-color: blue;
  opacity: 0.5;
  height: 500px;
  width: 180px;
  z-index: 600;
  position: relative;
  top: 0px; }

.flower {
  width: 95px;
  height: 140px;
  /*    border: 3px solid #555869;
    border-radius: 50%;*/
  position: relative;
  top: 0;
  z-index: 700; }
  .flower.-flower1 {
    bottom: 500px; }
  .flower.-flower2 {
    bottom: 550px; }
  .flower.-flower3 {
    bottom: 500px; }
  .flower.-flower4 {
    bottom: 550px; }

.flower-bud {
  width: 95px;
  height: 140px;
  border: 4px solid #555869;
  border-radius: 50%;
  position: absolute;
  left: 23%;
  cursor: pointer; }
  .flower-bud:after, .flower-bud:before {
    content: '';
    position: absolute;
    width: 60px;
    height: 110px;
    border: 4px solid #555869;
    border-radius: 50%;
    z-index: -1; }
  .flower-bud:after {
    left: -20px;
    bottom: -4px;
    transform: rotate(-25deg);
    animation: flower-left 1s infinite linear; }
  .flower-bud:before {
    right: -20px;
    bottom: -4px;
    transform: rotate(25deg);
    animation: flower-right 1s infinite linear; }
  .flower-bud.-flower1 {
    background-color: #F7D2C9; }
  .flower-bud.-flower2 {
    background-color: #87BDC1; }
  .flower-bud.-flower3 {
    background-color: #D8778A; }
  .flower-bud.-flower4 {
    background-color: #EDE4A4; }

.plant {
  width: 4px;
  height: 360px;
  background-color: #555869;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%); }

.grow-stem {
  animation: growStem 2s ease-in-out;
  height: 320px; }

.leaf {
  content: '';
  position: absolute;
  width: 45px;
  height: 24px;
  border: 4px solid #555869;
  border-radius: 50%;
  top: 70px;
  cursor: pointer; }

.leaf-left {
  left: -44px;
  animation: leaf-left 2s infinite linear; }

.leaf-right {
  left: 0px;
  animation: leaf-right 2s infinite linear; }

@keyframes flower-left {
  0% {
    transform: rotate(-25deg); }
  50% {
    transform: rotate(-30deg) scale(0.95); }
  100% {
    transform: rotate(-25deg); } }

@keyframes flower-right {
  0% {
    transform: rotate(25deg); }
  50% {
    transform: rotate(30deg) scale(0.95); }
  100% {
    transform: rotate(25deg); } }

@keyframes growStem {
  0% {
    height: 0px; }
  100% {
    height: 300px; } }

@keyframes leaf-right {
  0% {
    transform: rotate(0); }
  25% {
    transform: rotate(8deg);
    transform-origin: left; }
  50% {
    transform: rotate(0); }
  75% {
    transform: rotate(-8deg);
    transform-origin: left; }
  100% {
    transform: rotate(0); } }

@keyframes leaf-left {
  0% {
    transform: rotate(0); }
  25% {
    transform: rotate(8deg);
    transform-origin: right; }
  50% {
    transform: rotate(0); }
  75% {
    transform: rotate(-8deg);
    transform-origin: right; }
  100% {
    transform: rotate(0); } }

.garden-box {
  width: 80%;
  height: 160px;
  background-color: #f5feff;
  border: 3px solid #555869;
  border-bottom: 5px solid #35373f;
  border-radius: 5px;
  bottom: 80px;
  position: absolute;
  margin: 0 auto;
  z-index: 5; }

.page-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center; }

.soil {
  background: repeating-linear-gradient(#f0b864, #efa63c 30%, #d8730f 30%, #cc7b2a 100%);
  width: 100%;
  height: 80%;
  position: absolute;
  margin: 0 auto;
  bottom: 0px;
  overflow: hidden;
  z-index: 2; }

.seed-spot {
  background-color: #9c4c0a;
  border-radius: 30px;
  width: 60px;
  height: 60px;
  position: relative;
  top: 15px;
  overflow: hidden;
  z-index: 4;
  display: flex;
  justify-content: center; }

.seed-wrapper {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  height: 70%;
  margin-left: 5%;
  position: absolute;
  bottom: 0; }

.seed {
  background: black;
  position: relative;
  width: 40px;
  height: 30px;
  top: 15px;
  z-index: 10;
  transform: rotate(65deg);
  border-radius: 95% 0;
  cursor: pointer; }

.ground {
  width: 100vw;
  height: 100px;
  z-index: -1;
  background: #c6e9c3;
  border-top: 5px solid black;
  bottom: 0;
  position: absolute;
  margin: 0 auto; }
